<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>TomcatTest</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>

	<servlet>
		<servlet-name>DeleteCourse</servlet-name>
		<servlet-class>course.monitor.DeleteCourse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteCourse</servlet-name>
		<url-pattern>/DeleteCourse</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetCourseByIDandSerial</servlet-name>
		<servlet-class>course.monitor.GetCourseByIDandSerial</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCourseByIDandSerial</servlet-name>
		<url-pattern>/GetCourseByIDandSerial</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetCourseByName</servlet-name>
		<servlet-class>course.monitor.GetCourseByName</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCourseByName</servlet-name>
		<url-pattern>/GetCourseByName</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetCourseList</servlet-name>
		<servlet-class>course.monitor.GetCourseList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetCourseList</servlet-name>
		<url-pattern>/GetCourseList</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>InsertCourse</servlet-name>
		<servlet-class>course.monitor.InsertCourse</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>InsertCourse</servlet-name>
		<url-pattern>/InsertCourse</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UpdateCourseInfo</servlet-name>
		<servlet-class>course.monitor.UpdateCourseInfo</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateCourseInfo</servlet-name>
		<url-pattern>/UpdateCourseInfo</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>POIoutTemplate</servlet-name>
		<servlet-class>com.wp.poi.POIoutTemplate</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>POIoutTemplate</servlet-name>
		<url-pattern>/POIoutTemplate</url-pattern>
	</servlet-mapping>
	
</web-app>




